next_page J  
previous_page K
fit_to_page_width a
fit_to_page_width_ratio S
toggle_two_page_mode d
toggle_dark_mode <A-D>
goto_mark ;
toggle_fastread <A-f> 
keyboard_overview <A-o>
previous_overview <A-n>
next_overview <A-N>
close_overview c
toggle_statusbar z
move_left l 
move_right h
goto_left H 
goto_right L 


